.sidebar {
  flex-basis: 55rem;
  background-color: var(--color-dark--1);
  padding: 3rem 5rem 3.5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #0f2331 */
@media (max-width: 800px) {
  .sidebar {
    flex-basis: 60%;

    padding: 2rem 8%;
  }
}
